body{
    font-family: Roboto;
}

/*Main*/

.container{
    width: 80vw;
    margin: 0 auto;
}

.delivery-payment, 
.delivery-shipping, 
.delivery-return {
    margin: 6.25rem;
}

.title-delivery, 
.subtitle-delivery, 
.content-delivery {
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #000000;
}

.title-delivery {
    font-size: 3.4375rem;
}

.subtitle-delivery {
    font-size: 1.5625rem;
}

.content-delivery {
    font-size: 1.25rem;
}

.content-delivery__items {
    list-style-type: circle;
    line-height: 1.5;
}

@media screen and (max-width: 480px) {
    .delivery-payment, 
    .delivery-shipping, 
    .delivery-return {
        width: 40%;
        margin: 0;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .delivery-payment, 
    .delivery-shipping, 
    .delivery-return {
        width: 40%;
        margin: 0;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 1024px) {
    .delivery-payment, 
    .delivery-shipping, 
    .delivery-return {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .delivery-payment, 
    .delivery-shipping, 
    .delivery-return {
        width: 100%;
    }
}

/*Стили блока футер*/

footer {
    display: flex;
    flex-direction: column;
    background-color: #CADABA;
    padding: 50px 10vw 30px 10vw;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.footer-menu2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerline,
.footer2line {
    padding-bottom: 20px;
}


.footer2line {
    max-width: 200px;
}

.logo {
    margin-right: 4vw;
    padding-bottom: 10px;
}

.logo-img {
    width: 10em;
}

.time {
    margin-left: 7vw;
}

a {
    color: black;
    text-decoration: none;
}

.main-page,
.katalog,
.size,
.buy,
.about-comp {
    margin-left: 15px;
}