* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

.ordering {
    max-width: 90vw;
    max-height: 90vh;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

/* Заголовок страницы */

.ordering__title {
    font-weight: 500;
    font-size: 1.9em;
    letter-spacing: 0.02em;
    padding: 3em 0 2em 0;
}

/* Формы данных покупателя */

.ordering__box {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
}

.ordering__details-title {
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.02em;
}

.ordering__details {
    margin-bottom: 2.5em;
}

.ordering__details-field {
    display: flex;
    width: 20.9em;
    height: 2.5em;
    padding-left: 0.4em;
    margin: 0.1em 0 0.9em 0;
    letter-spacing: 0.02em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    border: 0.08em solid #000;
    border-radius: 0.3em;
}

#user-comment {
    max-width: 21em;
    min-width: 21em;
    min-height: 5em;
    line-height: 1.5em;
}

.ordering__paiment-option {
    background: #ace1af;
}

.ordering__payment-send {
    width: 8em;
    padding: 0.3em 0.9em 0.3em 0.9em;
    margin-bottom: 5em;
    letter-spacing: 0.02em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    border: 0.08em solid #000;
    border-radius: 0.3em;
    cursor: pointer;
}

.ordering__payment-send:hover {
    background-color: #ace1af;
}

/* Форма заказа */

/* Форма выбора способа оплаты */
