.search {
  width: 80vw;
  margin: 0 auto;
  min-width: 270px;
  font-family: "Roboto", sans-serif;
}
.search__head {
  font-size: 1.5em;
  text-align: center;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
.search__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em 1em;
  margin: 1em 0 3em;
}
.search__buttons {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.shorts__pic {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.shorts__card {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 1em;
}
.shorts__link {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.5em;
}
.shorts__price {
  font-weight: 400;
  font-size: 1em;
  line-height: 1em;
  color: #998E78;
}

.search-button {
  display: flex;
  height: 41px;
  width: 41px;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}
.search-button:hover {
  background-color: gray;
}
.search-button:active, .search-button_active {
  background-color: #000000;
  color: white;
}
.search-button_arrow {
  border: none;
  width: auto;
  transition: transform 0.5s;
}
.search-button_arrow:hover {
  transform: translate(10px);
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .search__head {
    font-size: 2em;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    word-break: initial;
  }
  .search__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em 1em;
    margin: 1em 0 3em;
  }
  .search__buttons {
    display: flex;
    gap: 1em;
    justify-content: center;
  }

  .shorts__pic {
    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .shorts__card {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    gap: 1em;
  }
  .shorts__link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5em;
  }
  .shorts__price {
    font-weight: 400;
    font-size: 1em;
    line-height: 1em;
    color: #998E78;
  }

  .search-button {
    display: flex;
    height: 41px;
    width: 41px;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.02em;
  }
  .search-button:hover {
    background-color: gray;
  }
  .search-button:active, .search-button_active {
    background-color: #000000;
    color: white;
  }
  .search-button_arrow {
    border: none;
    width: auto;
    transition: transform 0.5s;
  }
  .search-button_arrow:hover {
    transform: translate(10px);
    background-color: transparent;
  }
}
@media screen and (min-width: 1024px) {
  .search__head {
    font-size: 2em;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    word-break: initial;
  }
  .search__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em 1em;
    margin: 1em 0 3em;
  }
  .search__buttons {
    display: flex;
    gap: 1em;
    justify-content: center;
  }

  .shorts__pic {
    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .shorts__card {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    gap: 1em;
  }
  .shorts__link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5em;
  }
  .shorts__price {
    font-weight: 400;
    font-size: 1em;
    line-height: 1em;
    color: #998E78;
  }

  .search-button {
    display: flex;
    height: 64px;
    width: 64px;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.02em;
  }
  .search-button:hover {
    background-color: gray;
  }
  .search-button:active, .search-button_active {
    background-color: #000000;
    color: white;
  }
  .search-button_arrow {
    border: none;
    width: auto;
    transition: transform 0.5s;
  }
  .search-button_arrow:hover {
    transform: translate(10px);
    background-color: transparent;
  }
}/*# sourceMappingURL=search.css.map */