body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 80vw;
    margin: 0 auto;
    box-shadow: 0 1em 2em rgb(0 0 0 / 35%);
}
.cart {
    padding-top:1rem ;
    padding-bottom: 1em;
    margin-left: 1em;
}
.cart-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 140%;
    padding-bottom: 5rem;
    margin-left: 5em;
}
.cart-table{
    margin: 2em;
}

.cart-table-names {
display: grid;
grid-template-columns:40% 20% 20% 20%;
justify-items: center;
margin-left: 3em;
padding-bottom: 1em;
}
.cart-products {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%; 
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.cart-product{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.cart-btn-delete{
    width: 0.75em;
    
}
.cart-product-image{
    width: 8.5em;
    height: 12.8125em;
}
.cart-product-name{
    display: flex;
    justify-content: center;
}
.cart-product-quantity >input{
    width:0.5em ;
    height: 1.75em;
}
.cart-plus-img{
    width: 0.75em;
}
.cart-minus-img{
    width: 0.75em;
}
.cart-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.cart-total-btn,
.cart-registration-btn{
    text-decoration: none;
    display: flex;
    width: 268px;
    height: 61px;
    left: 79px;
    top: 0px;
    padding-left: 3%;
    text-align: center;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    color: #560228 ;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}
.cart-total-btn{
    background-color:#eed9e5;
}
.cart-registration-btn{
background-color: #edc1d9 ;
color: #560228;
}
.cart-registration-btn:hover{
    background-color: #f1bbd9;
    transform: translateY(-2px);
    color: #560228;
}
/* Корзина планшет */
@media (min-width: 768px) and (max-width: 1023px){
    .cart-buttons{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }
}
/* Корзина мобильная версия */
@media (min-width: 0px) and (max-width: 767px){
    .cart-table-names{
        display: none;
    } 
    .cart-title{
        text-align: center;
        padding-bottom: 5rem;
        margin-left: 0em;
    }
    .cart-buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .cart-total-btn,
    .cart-registration-btn{
    margin: 1em 0em;
    }
    .cart-products {
        display: grid;
        grid-template-columns: 1fr; 
        justify-items: center;
        justify-content: center;
        align-items: center;
        padding-right: 1em;
    }
}
/*Стили блока футер*/

a {
    color: black;
    text-decoration: none;
}

.logo {
    grid-area: logo;
}

.main-page {
    grid-area: main-page;
}

.katalog {
    grid-area: katalog;
}

.size {
    grid-area: size;
}

.buy {
    grid-area: buy;
}

.about-comp{
    grid-area: about-comp;
}

.time {
    grid-area: time;
}

.confident {
    grid-area: confident;
}

.mail {
    grid-area: mail;
}

@media (max-width: 839px) {
    a {
        color: black;
        text-decoration: none;
    }

    .footer {
        background-color: #CADABA;
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-areas: 
        "logo logo"
        "main-page buy"
        "katalog about-comp"
        "size size"
        "time time"
        "mail mail"
        "confident confident";
    }    

    .logo {
        justify-self: center;
        margin: 25px auto 10px auto;
    }

    .main-page,
    .katalog,
    .size {
        padding: 10px 0px 10px 10vw;
    }

    .time {
        padding: 30px 0px 10px 10vw;
    }

    .mail {
        padding: 15px 0px 10px 10vw;
    }

    .confident {
        padding: 15px 0px 30px 10vw;
    }

    .buy,
    .about-comp {
        padding: 10px 10vw 10px 0px;
    }
}

@media (min-width: 840px) and (max-width: 1199px) {
    a {
        color: black;
        text-decoration: none;
    }

    .footer {
        background-color: #CADABA;
        display: grid;
        grid-template-columns: 38vw 12vw 12vw 38vw;
        grid-template-areas: 
        "logo main-page buy time"
        "logo katalog about-comp mail"
        "logo size size mail"
        "confident confident confident confident";
    }   
    
    .logo,
    .confident {
        margin-left: 10vw;
    }

    .logo,
    .main-page,
    .buy,
    .time,
    .katalog,
    .about-comp,
    .mail,
    .size,
    .confident {
        margin-top: 20px;
    }

    .confident {
        margin-bottom: 25px;
    }
}

@media (min-width: 1200px) {
    a {
        color: black;
        text-decoration: none;
    }

    .footer {
        background-color: #CADABA;
        display: grid;
        grid-template-columns: 30vw 9vw 9vw 9vw 9vw 9vw 25vw;
        grid-template-areas: 
        "logo main-page katalog size buy about-comp time"
        "confident confident confident confident confident confident  mail"
    }   

    .logo,
    .confident {
        margin-left: 10vw;
    }

    .logo,
    .main-page,
    .buy,
    .time,
    .katalog,
    .about-comp,
    .mail,
    .size,
    .confident {
        margin-top: 20px;
    }

    .confident {
        margin-bottom: 30px;
    }

    .main-page,
    .katalog,
    .size,
    .buy,
    .about-comp,
    .time {
        padding-top: 25px;
    }
}