* {
    margin: 0;
    padding: 0;
}

.header {
    font-family: 'Roboto', sans-serif;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header__section {
    order: 2;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    display: flex;
    list-style: none;
    letter-spacing: 0.2em;
}

.header__menu-item {
    display: block;
    padding: 1em;
    font-size: 0.8em;
    text-decoration: none;
    color: #333;
}

.header__menu {
    order: 1;
    flex-grow: 1;
    justify-content: space-around;
    display: flex;
}

.header__logo {
    order: 1;
}

.header__form {
    order: 2;
}

.menu__item li a:hover {
    transition: all .3s;
    color: #a6cfc1;
}

/* hamburger menu for mobile */

#checkbox__toggle {
    display: none;
}

.hamburger {
    display: none;
    padding-top: 1.25em;
    font-size: 24px;
    cursor: pointer;
}

.hamburger-line {
    display: block;
    width: 24px;
    height: 2px;
    position: relative;
    background-color: #333;
}

.hamburger-line::before,
.hamburger-line::after {
    display: block;
    width: 24px;
    height: 2px;
    content: '';
    position: absolute;
    transition: all .3s;
    background-color: #333;
}

.hamburger-line::before {
    top: 0.30em;
}

.hamburger-line::after {
    top: -0.30em;
}

.header__form {
    display: flex;
    border: none;
}

.header__input {
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}

.header__button {
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.header__button::after {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #333;
}

.fa-shopping-cart {
    color: #333;
    font-size: 1.5em;
}

.header__input::placeholder {
    border: none;
    font-family: Roboto;
    color: #333;
    font-size: 0.8em;
}

/* media query for tablet */

@media screen and (min-width:768px) and (max-width:1224px) {
    .header {
        display: flex;
        flex-direction: column;
        padding-top: 1em;
        justify-content: center;
        align-items: center;
    }

    .header__section {
        flex-direction: column;
    }

    .header__logo {
        margin-bottom: 1%;
    }

    .header__form {
        margin-top: 1%;
    }
}

/* media query for mobile */

@media screen and (max-width:767px) {
    .header {
        display: flex;
        flex-flow: row wrap;
        padding-top: 1em;
        justify-content: center;
        align-items: center;
        min-width: 70vw;
    }

    .header__section {
        flex-grow: 0;
        justify-content: center;
    }

    .header__form {
        order: 2;
    }

    .header__logo {
        order: 1;
        width: 80%;
    }

    .header__menu {
        order: 3;
        display: block;
        align-items: center;
    }

    .menu__item {
        display: flex;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        margin-top: 80px;
        left: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        font-size: 18px;
    }

    #checkbox__toggle:checked~.menu__item {
        display: block;
        max-height: 100%;
        transition: all .5s;
        z-index: 100;
    }

    .hamburger {
        display: flex;
        padding: 1em 0 1em 0.2em;
        justify-content: center;
    }

    #checkbox__toggle:checked~.hamburger .hamburger-line {
        background-color: transparent;
    }

    #checkbox__toggle:checked~.hamburger .hamburger-line::before {
        transform: rotate(-45deg);
        top: 0;
    }

    #checkbox__toggle:checked~.hamburger .hamburger-line::after {
        transform: rotate(45deg);
        top: 0;
    }

    .header__menu-item {
        display: flex;
        justify-content: center;
    }

    .header__input {
        width: 44vw;
    }
}

@media screen and (max-width:637px) {
    .menu__item {
        margin-top: 140px;
    }
}