body{
    font-family: 'Roboto', sans-serif;
}

/*Main*/

.container{
    width: 80vw;
    margin: 0 auto;
}

.delivery-payment, 
.delivery-shipping, 
.delivery-return {
    margin: 6.25rem;
}

.title-delivery, 
.subtitle-delivery, 
.content-delivery {
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #000000;
}

.title-delivery {
    font-size: 3.4375rem;
}

.subtitle-delivery {
    font-size: 1.5625rem;
    margin-bottom: 1rem;
}

.content-delivery {
    font-size: 1.25rem;
}

.content-delivery__items {
    list-style-type: circle;
    list-style-position: inside;
    line-height: 1.5;
    padding-left: 1rem;
}

@media screen and (max-width: 480px) {
    .delivery-payment, 
    .delivery-shipping, 
    .delivery-return {
        width: 40%;
        margin: 0;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .delivery-payment, 
    .delivery-shipping, 
    .delivery-return {
        width: 40%;
        margin: 0;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 1024px) {
    .delivery-payment, 
    .delivery-shipping, 
    .delivery-return {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .delivery-payment, 
    .delivery-shipping, 
    .delivery-return {
        width: 100%;
    }
}

/*Стили блока футер*/

a {
    color: black;
    text-decoration: none;
}

.logo {
    grid-area: logo;
}

.main-page {
    grid-area: main-page;
}

.katalog {
    grid-area: katalog;
}

.size {
    grid-area: size;
}

.buy {
    grid-area: buy;
}

.about-comp{
    grid-area: about-comp;
}

.time {
    grid-area: time;
}

.confident {
    grid-area: confident;
}

.mail {
    grid-area: mail;
}

@media (max-width: 839px) {
    a {
        color: black;
        text-decoration: none;
    }

    .footer {
        background-color: #CADABA;
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-areas: 
        "logo logo"
        "main-page buy"
        "katalog about-comp"
        "size size"
        "time time"
        "mail mail"
        "confident confident";
    }    

    .logo {
        justify-self: center;
        margin: 25px auto 10px auto;
    }

    .main-page,
    .katalog,
    .size {
        padding: 10px 0px 10px 10vw;
    }

    .time {
        padding: 30px 0px 10px 10vw;
    }

    .mail {
        padding: 15px 0px 10px 10vw;
    }

    .confident {
        padding: 15px 0px 30px 10vw;
    }

    .buy,
    .about-comp {
        padding: 10px 10vw 10px 0px;
    }
}

@media (min-width: 840px) and (max-width: 1199px) {
    a {
        color: black;
        text-decoration: none;
    }

    .footer {
        background-color: #CADABA;
        display: grid;
        grid-template-columns: 38vw 12vw 12vw 38vw;
        grid-template-areas: 
        "logo main-page buy time"
        "logo katalog about-comp mail"
        "logo size size mail"
        "confident confident confident confident";
    }   
    
    .logo,
    .confident {
        margin-left: 10vw;
    }

    .logo,
    .main-page,
    .buy,
    .time,
    .katalog,
    .about-comp,
    .mail,
    .size,
    .confident {
        margin-top: 20px;
    }

    .confident {
        margin-bottom: 25px;
    }
}

@media (min-width: 1200px) {
    a {
        color: black;
        text-decoration: none;
    }

    .footer {
        background-color: #CADABA;
        display: grid;
        grid-template-columns: 30vw 9vw 9vw 9vw 9vw 9vw 25vw;
        grid-template-areas: 
        "logo main-page katalog size buy about-comp time"
        "confident confident confident confident confident confident  mail"
    }   

    .logo,
    .confident {
        margin-left: 10vw;
    }

    .logo,
    .main-page,
    .buy,
    .time,
    .katalog,
    .about-comp,
    .mail,
    .size,
    .confident {
        margin-top: 20px;
    }

    .confident {
        margin-bottom: 30px;
    }

    .main-page,
    .katalog,
    .size,
    .buy,
    .about-comp,
    .time {
        padding-top: 25px;
    }
}

