* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    /* 
    background: url(/assets/image/back_image/pink-alcohol-ink-background-abstract-fluid-art-painting-design/18449077.jpg);
    Цвет фона и путь к файлу 
    background-size: cover;
    */
    color: #000;
    /* Цвет текста */
}

.container {
    width: 80vw;
    margin: 0 auto;
}

.slider {
    position: relative;
    margin: 10% auto;
    height: 80vw;
}

.slider__item {
    height: 100%;
}

.slider__item-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#lookbook-image {
    position: relative;
}

#lookbook-text {
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.45);
    color: black;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: center;
}


.slider__img {
    width: 100%;
    object-fit: cover;
    height: 80vw;
}

.catalog__flex-container_mobile {
    margin-bottom: 5em;
}

.catalog__flex-container {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    margin-top: 1em;
    flex-direction: column;
}

.catalog__flex-container_desktop {
    display: none;
}

.catalog_title {
    font-weight: 400;
    font-size: 1.8em;
    line-height: 140%;
    color: #560228;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-bottom: 2em;
}

.catalog__flex-container-img {
    max-width: 100%;
}

.catalog__btn {
    position: relative;
    text-align: center;
    margin: 3em;
}

.catalog__btn_open-catalog {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    font-size: 1em;
    padding: 1em 0.5em;
}

.catalog__btn_open-catalog:hover {
    vertical-align: middle;
    background-color: #edc1d9;
}

.catalog__btn_open-catalog:active {
    vertical-align: middle;
    background-color: #f1bbd9;
    color: black;
}

.catalog__flex-container_image-desc-1,
.catalog__flex-container_image-desc-2 {
    text-align: center;
}

.catalog__flex-container_image-desc-1 {
    color: #000000;
}

.catalog__flex-container_image-desc-2 {
    color: #998E78;
}

.about-text,
.about-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 140%;
    font-size: 1.2em;
    letter-spacing: 0.02em;
    text-transform: none;
    text-align: center;
    color: #560228;
}

.about-text {
    padding-bottom: 70px;
    text-align: justify;
}


@media screen and (min-width: 768px) {

    #lookbook-text {
        width: auto;
        height: auto;
        padding: 0.5em 2.5em;
        font-weight: 500;
        font-size: 40px;
        line-height: 1em;
        letter-spacing: 0.02em;
    }

    .catalog__title {
        font-weight: 500;
        margin-bottom: 1em;
        font-size: 2em;
    }

    .catalog__flex-container_mobile {
        display: none;

    }

    .catalog__flex-container_desktop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 3em;
        gap: 1em;
    }

    .catalog__flex-container {
        gap: 1em;
        margin-bottom: 1em;
        flex-direction: column;
    }

    .catalog__flex-container-img {
        max-width: 100%;
        height: 50vw;
        object-fit: cover;
    }

    .catalog__btn_open-catalog {
        font-size: 1em;
        padding: 1.5em;
    }
}

@media (min-width:1024px) {
    .slider {
        margin-top: 5%;
        max-height: 600px;
    }

    .slider__item-inner {
        height: 64vw;
        width: 80vw;
        max-height: 600px;
    }

    .slider__img {
        width: 80vw;
        object-fit: cover;
        object-position: top;
        height: 64vw;
        max-height: 600px;
    }

    .catalog_title {
        text-align: left;
    }

    .catalog__flex-container_mobile {
        display: none;
    }

    .catalog__flex-container_desktop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 3em;
        gap: 1em;
    }

    .catalog__flex-container {
        display: flex;
        gap: 25px;
        flex-direction: column;
    }

    .about-title {
        text-align: left;
    }
}