* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    text-transform: uppercase;
    /* 
    background: url(/assets/image/back_image/pink-alcohol-ink-background-abstract-fluid-art-painting-design/18449077.jpg);
    Цвет фона и путь к файлу 
    background-size: cover;
    */
    color: #000;
    /* Цвет текста */
}

.container {
    width: 80vw;
    margin: 0 auto;
}

/* блок ЛУКБУК */

#lookbook-image {
    position: relative;
}

#lookbook-text {
    display: block;
    position: absolute;
    top: 22vh;
    left: 20vh;
    right: 20vh;
    background-color: rgba(255, 255, 255, 0.45);
    color: black;
    font-size: 40px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: center;
}

.slider__img {
    width: 100%;
    object-fit: cover;
}

/* 
.slider__items {
    counter-reset: slide;
}

.slider__item {
    counter-increment: slide;
}

.slider__item>div::before {
    content: counter(slide);
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-style: italic;
    font-size: 32px;
    font-weight: bold;
}
 */
.slider {
    position: relative;
    overflow: hidden;
    max-width: 600px;
    margin: 3em auto 3em auto;
}

.slider__wrapper {
    position: relative;
    overflow: hidden;
    background-color: #eee;
}

.slider__items {
    display: flex;
    transition: transform 0.5s ease;
}

.transition-none {
    transition: none;
}

.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}

.slider__control {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 50px;
    transform: translateY(-50%);
    display: none;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0.5;
    user-select: none;
}

.slider__control_show {
    display: flex;
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}

.slider__control_prev {
    left: 0;
}

.slider__control_next {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_prev::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_next::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* Индикаторы */

.slider__indicators {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 0 15%;
    list-style: none;
    user-select: none;
}

.slider__indicator {
    flex: 0 1 auto;
    width: 30px;
    height: 4px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    cursor: pointer;
}

.slider__indicator_active {
    background-color: #fff;
}

*/
/* блок ЛУКБУК - адаптация для мобильных устройств */

@media (min-width: 0px) and (max-width: 767px) {
    #lookbook-text {
        top: 15vh;
    left: 15vh;
    right: 15vh;
        background-color: rgba(255, 255, 255, 0.45);
        color: black;
        font-size: 1.3em;
        font-weight: 400;
    }
}

/* блок КАТАЛОГ */

.catalog_flex-container {
    display: inline-flex;
    gap: 1em;
    width: 80vw;
    justify-content: space-between;
    margin-top: 1em;
}

.catalog_title {
    font-weight: 400;
    font-size: 1.8em;
    line-height: 140%;
    margin-left: 2em;
}

.catalog_flex-container-1_image {
    max-width: 100%;
    max-height: 100%;
}

.catalog_btn {
    position: relative;
    text-align: center;
    margin: 3em;
}

.catalog_btn_open-catalog {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    font-size: 1em;
    padding: 1em 2em 1em 2em;
    border-radius: 0.3em;
}

.catalog_btn_open-catalog:hover {
    vertical-align: middle;
    background-color: #edc1d9;
}

.catalog_btn_open-catalog:active {
    vertical-align: middle;
    background-color: #f1bbd9;
    color: black;
}

.catalog_flex-container-1_image-desc-1,
.catalog_flex-container-1_image-desc-2,
.catalog_flex-container-2_image-desc-1,
.catalog_flex-container-2_image-desc-2,
.catalog_flex-container-3_image-desc-1,
.catalog_flex-container-3_image-desc-2 {
    position: relative;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.catalog_flex-container-1_image-desc-1,
.catalog_flex-container-2_image-desc-1,
.catalog_flex-container-3_image-desc-1 {
    height: 1.5em;
}

.catalog_flex-container-1_image-desc-2,
.catalog_flex-container-2_image-desc-2,
.catalog_flex-container-3_image-desc-2 {
    opacity: .3;
}

/* блок КАТАЛОГ - адаптация для мобильных устройств */

@media (min-width: 0px) and (max-width: 767px) {
    .catalog_flex-container {
        gap: 5px;
    }

    .catalog_btn {
        margin: 0;
        padding-top: 2em;
    }

    .catalog_flex-container {
        display: inline-flex;
        width: 80vw;
        justify-content: center;
    }

    .catalog_title {
        margin: 0;
        font-weight: 300;
        font-size: 1.2em;
        text-align: center;
    }

    .catalog_flex-container-1_image-desc-1,
    .catalog_flex-container-1_image-desc-2,
    .catalog_flex-container-3_image-desc-1,
    .catalog_flex-container-3_image-desc-2 {
        font-size: 0.9em;
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    .slider {
        margin-bottom: 4em;
    }

    #lookbook-text {
        width: auto;
        height: auto;

    }

    .catalog_title {
        font-weight: 500;
        margin-bottom: 1em;
        font-size: 2em;
    }

    .catalog_flex-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
        margin-bottom: 8em;
    }

    .catalog_flex-container-1_image {
        height: 100%;
        object-fit: cover;
    }

    .catalog_btn_open-catalog {
        font-size: 1em;
        padding: 2em;
    }

    .info {
        max-width: 80vw;
        margin: auto;
    }

}

@media (min-width:1024px) {
    .slider {
        margin-top: 5%;
        max-height: 600px;
    }

    .catalog_flex-container {
        display: flex;
        gap: 25px;
    }
}

/* блок О НАС */

.about-text {
    margin: 0;
    padding-bottom: 70px;
    font-weight: 400;
    line-height: 140%;
    font-size: 1.2em;
    letter-spacing: 0.02em;
    text-transform: none;
}

.about-title {
    font-weight: 400;
    font-size: 1.8em;
    letter-spacing: 0.02em;
    margin-left: 2em;
    padding-top: 2em;
}

/* блок О НАС - адаптация для мобильных устройств*/

@media (min-width: 320px) and (max-width: 767px) {
    .about-title {
        margin: 0;
        padding: 4em 0 1em 0;
        font-weight: 300;
        font-size: 1.2em;
        text-align: center;
    }

    .about-text {
        margin: 0;
        padding-bottom: 70px;
        font-weight: 300;
        font-size: 0.9em;
    }
}