body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 80vw;
    margin: 0 auto;
}
/*блок_Каталог_Начало */
.catalog_flex-container{
    display:inline-flex;
    gap: 1em;
    width: 80vw;
    justify-content: space-between;
    /* height: 27em; */
}
.catalog_title{
    font-weight: 400;
    line-height: 140%;
    color: #2F4538;
    font-family: 'Roboto', sans-serif
    /* откорректировать цвета  */
}
.catalog_flex-container-1_image{
    /* Высоту картинок сделать одинакой с высотой лукбука (скоректировать height у .catalog_flex-container) */
    max-width: 100%;
    max-height: 100%;
}
.catalog_btn{
    position: relative;
    text-align: center;
    margin: 3em;
}
.catalog_btn_open-catalog{
    /* откорректировать цвета  */
    /* background-color: #CADABA; */
    text-decoration: none;
    background-color: #dcf1c5;
    color: #2F4538;
    border: 1px solid #2F4538;
    font-size: 1em;
    padding: 1em 2em 1em 2em;
}
.catalog_btn_open-catalog:hover{
    vertical-align: middle;
    background-color: #d1f1af;
}
.catalog_btn_open-catalog:active{
    vertical-align: middle;
    background-color: #bbe391;
    color: black;
}
.catalog_flex-container-1_image-desc-1,
.catalog_flex-container-1_image-desc-2,
.catalog_flex-container-2_image-desc-1,
.catalog_flex-container-2_image-desc-2,
.catalog_flex-container-3_image-desc-1,
.catalog_flex-container-3_image-desc-2{
    position: relative;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.catalog_flex-container-1_image-desc-1,
.catalog_flex-container-2_image-desc-1,
.catalog_flex-container-3_image-desc-1{
    color: #2F4538;
    height: 1.5em;
}
.catalog_flex-container-1_image-desc-2,
.catalog_flex-container-2_image-desc-2,
.catalog_flex-container-3_image-desc-2{
    color: #2F4538;
    opacity: .3;
}
/* блок_Каталог_Мобильная версия */
@media (min-width: 0px) and (max-width: 767px)
{
    .catalog_flex-container-2{
        display: none;
    }
    .catalog_btn{
        margin: 3em;
    }
    .catalog_flex-container{
        display:inline-flex;
        width: 80vw;
        justify-content: center;
    }
}
/* Каталог_Конец*/

/*Стили блока о компании*/

.about {
    /*min-height: 80vh;*/
}

.about-text,
.about-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.02em;
}

.about-text {
    padding-bottom: 70px;
}

/*Стили блока футер*/
/*div {
    border: 1px solid red;
}*/


@media (max-width: 769px) {
    .footer {
        padding: 50px 10vw 30px 10vw;
    }

    .logo {
        margin-right: 20vw;
        margin-bottom: 20px;
    }

    .central-footermenu {
        display: flex;
        flex-direction: column;
    }

    .footer-menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: 30px;
    }
    
    .footer-menu2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    }

@media (min-width: 770px) and (max-width: 1099px) {  
    .footer {
        padding: 50px 6vw 30px 6vw;
    }

    .logo {
        margin-right: 20vw;
        margin-bottom: 20px;
    }

    .central-footermenu {
        display: flex;
        flex-direction: row;
    }

    .first-column {
        margin-right: 20vw;
    }

    .footer-menu {
        display: flex;
        flex-direction: row;
        justify-content: start;
        /*flex-wrap: wrap;*/
        padding-bottom: 30px;
        padding-right: 4em;
    }
    
    .footer-menu2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    }

@media (min-width: 1100px) {
    .central-footermenu {
        display: flex;
        flex-direction: row;
    }

    .logo {
        margin-right: 8vw;
        padding-bottom: 10px;
    }

    .footer {
        padding: 50px 6vw 30px 6vw;
    }

    .footer-menu {
        display: flex;
        flex-direction: row;
        justify-content: start;
        /*flex-wrap: wrap;*/
        padding-bottom: 30px;
        
    }

    .first-column,
    .second-column {
        display: flex;
        flex-direction: row;
    }
    
    .footer-menu2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .time {
        margin-left: 8vw;
        padding-top: 15px;
    }

    .main-page,
    .buy,
    .katalog,
    .size,
    .about-comp {
        margin-left: 25px;  
        padding-top: 15px;
    }   
    }

footer {
    display: flex;
    flex-direction: column;
    background-color: #CADABA;
}

.footerline,
.footer2line {
    padding-bottom: 20px;
}

.footer2line {
    max-width: 200px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 180%;
    font-size: 13px;
    letter-spacing: 0.02em;
    
}

.confident {
    margin-bottom: 15px;
}

.logo-img {
    width: 10em;
}



a {
    color: black;
    text-decoration: none;
}