.container-item {
        display: flex;
        padding: 5%;
        justify-content: center;
        width: 80vw;
        margin: 0 auto;
        border:  1px #000000 ;
    }
h3{
    font-style: normal;
    font-weight: 500;
    font-size: 3rem; 
    font-family: 'Raleway', sans-serif;
    padding-bottom: 7vh; 
}
.foto-item {
    flex: 1;
    border:  1px #000000 ;

    justify-self: right;
}
.item-discrip {
    flex: 2;
    border:  1px #000000 ;

    justify-self: left;
    align-content: center;
    padding-top: 20vh;
    padding-left: 2vh;
}

.item-price,
.item-size,
.item-about,
.item-buy {
    display: flex;
    min-height: 10%;
    padding: 2%;
    font-family: 'Raleway', sans-serif;
}

.item-price  {
    font-size: 2em;
    color: #21421E;
    padding-bottom: 10px;
    padding-top: 2vh;
}


.item-sizes {
padding-left: 2%;
display: flex;
}
/*size button*/
.item-size-number-button {
    flex-direction: column;
    width: 10vh;
    height: 10vh;
margin-right: 3%;
text-align: center;
padding-top: 3%;
    border: 1px solid black;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    color: #000000;
    background: #ffffff;
    transition: .3s;

    
}

.item-size-number-button:hover {
    background: #000000;
    box-shadow: 0 15px 20px  (46, 229, 157, .4);
    color: white;
}

.item-discription {
    margin-bottom: 25px;
}

.item-basket {
    display: flex;
    height: 61px;
    flex-direction: row;
    align-items: center;
}

.item-basket-number {
    height: 59px;
    width: 59px;
    border: 1px solid #AFAFAF;
    align-self: center;
    text-align: center;
    font-size: 20px;
   
}

/*add to basket button*/
.item-button {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    height: 61px;
    left: 79px;
    top: 0px;
    padding-left: 3%;
    padding: 3%;
    text-align: center;
    flex-direction: row;
    align-items: center;
   
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    color: #ffffff;
    background: #21421E;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    padding-left: 5vh;
}

.item-button:hover {
    background: #21421E;
    box-shadow: 0 15px 20px #21421E (46, 229, 157, .4);
    color: white;
    transform: translateY (-2px);
}