body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

/*Размерная сетка*/

.sizeguides {
    display: grid;
    justify-content: center;
    align-content: center;
    font-weight: 300;
    font-size: 1.25rem;
    letter-spacing: 0.02em;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sizeguides-container {
    display: grid;
    grid-template-columns: 12.5rem 12.5rem 18.75rem;
    grid-template-rows: repeat(8, 3.125rem);
    gap: 0.625rem;
}

.sizeguides-title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 3.125rem;
    font-weight: 300;
}

.sizeguides-container__items {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CADABA;
}

.sizeguides-subtitle {
    margin-top: 3.125rem;
    font-weight: 300;
}

.sizeguides-bottom__line {
    border: 0.0625rem solid #CADABA;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.sizeguide-bottom__container {
    display: grid;
    gap: 1rem;
}

@media screen and (max-width: 480px){
    .sizeguides {
        margin: 1rem;
    }

    .sizeguides-title {
        font-size: 2rem;
    }

    .sizeguides-subtitle {
        font-size: 1.25rem;
    }

    .sizeguides-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 0.625rem;
    }
}

@media screen and (max-width: 768px) {
    .sizeguides {
        margin: 1rem;
    }

    .sizeguides-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 0.625rem;
    }
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 1200px) {

}

/*Стили блока футер*/

a {
    color: black;
    text-decoration: none;
}

.logo {
    grid-area: logo;
}

.main-page {
    grid-area: main-page;
}

.katalog {
    grid-area: katalog;
}

.size {
    grid-area: size;
}

.buy {
    grid-area: buy;
}

.about-comp {
    grid-area: about-comp;
}

.time {
    grid-area: time;
}

.confident {
    grid-area: confident;
}

.mail {
    grid-area: mail;
}

@media (max-width: 839px) {
    a {
        color: black;
        text-decoration: none;
    }

    .footer {
        background-color: #CADABA;
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-areas:
            "logo logo"
            "main-page buy"
            "katalog about-comp"
            "size size"
            "time time"
            "mail mail"
            "confident confident";
    }

    .logo {
        justify-self: center;
        margin: 25px auto 10px auto;
    }

    .main-page,
    .katalog,
    .size {
        padding: 10px 0px 10px 10vw;
    }

    .time {
        padding: 30px 0px 10px 10vw;
    }

    .mail {
        padding: 15px 0px 10px 10vw;
    }

    .confident {
        padding: 15px 0px 30px 10vw;
    }

    .buy,
    .about-comp {
        padding: 10px 10vw 10px 0px;
    }
}

@media (min-width: 840px) and (max-width: 1199px) {
    a {
        color: black;
        text-decoration: none;
    }

    .footer {
        background-color: #CADABA;
        display: grid;
        grid-template-columns: 38vw 12vw 12vw 38vw;
        grid-template-areas:
            "logo main-page buy time"
            "logo katalog about-comp mail"
            "logo size size mail"
            "confident confident confident confident";
    }

    .logo,
    .confident {
        margin-left: 10vw;
    }

    .logo,
    .main-page,
    .buy,
    .time,
    .katalog,
    .about-comp,
    .mail,
    .size,
    .confident {
        margin-top: 20px;
    }

    .confident {
        margin-bottom: 25px;
    }
}

@media (min-width: 1200px) {
    a {
        color: black;
        text-decoration: none;
    }

    .footer {
        background-color: #CADABA;
        display: grid;
        grid-template-columns: 30vw 9vw 9vw 9vw 9vw 9vw 25vw;
        grid-template-areas:
            "logo main-page katalog size buy about-comp time"
            "confident confident confident confident confident confident  mail"
    }

    .logo,
    .confident {
        margin-left: 10vw;
    }

    .logo,
    .main-page,
    .buy,
    .time,
    .katalog,
    .about-comp,
    .mail,
    .size,
    .confident {
        margin-top: 20px;
    }

    .confident {
        margin-bottom: 30px;
    }

    .main-page,
    .katalog,
    .size,
    .buy,
    .about-comp,
    .time {
        padding-top: 25px;
    }
}