body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

/*Размерная сетка*/

.sizeguides {
    display: grid;
    justify-content: center;
    align-content: center;
    font-weight: 300;
    font-size: 1.25rem;
    letter-spacing: 0.02em;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sizeguides-container {
    display: grid;
    grid-template-columns: 12.5rem 12.5rem 18.75rem;
    grid-template-rows: repeat(8, 3.125rem);
    gap: 0.625rem;
}

.sizeguides-title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 3.125rem;
    font-weight: 300;
}

.sizeguides-container__items {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CADABA;
}

.sizeguides-subtitle,
.sizeguides-bottom__items {
    font-size: 1rem;
    color: rgb(60, 60, 60);
}

.sizeguides-subtitle {
    margin-top: 3.125rem;
    font-weight: 300;
}

.sizeguides-bottom__line {
    border: 0.0625rem solid #CADABA;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.sizeguide-bottom__container {
    display: grid;
    gap: 1rem;
}

@media screen and (max-width: 480px){
    .sizeguides {
        margin: 1rem;
    }

    .sizeguides-title {
        font-size: 2rem;
    }

    .sizeguides-subtitle {
        margin-top: 2rem;
    }

    .sizeguides-subtitle,
    .sizeguides-bottom__items {
        display: flex;
        justify-content: center;
        font-size: 1rem;
        color: rgb(60, 60, 60);
    }

    .sizeguides-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 0.625rem;
    }
}

@media screen and (max-width: 768px) {
    .sizeguides {
        margin: 1rem;
    }

    .sizeguides-subtitle {
        margin-top: 2rem;
    }

    .sizeguides-subtitle,
    .sizeguides-bottom__items {
        display: flex;
        justify-content: center;
        font-size: 1rem;
        color: rgb(60, 60, 60);
    }

    .sizeguides-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 0.625rem;
    }
}